@charset "UTF-8";

ul{padding-top:10px;} 
ul li { display:inline; 
        border-left:1px solid #999;
        font:bold 12px Dotum;
        padding:0 10px; }
     
.boardList {
    width: 600px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
.view {
    width: 500px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }

  
#subjectA:link {color:black; text-decoration:none;}
#subjectA:visited {color:black; text-decoration:none;}
#subjectA:hover {color:green; text-decoration:underline; font-weight:bold;}
#subjectA:active {color:orange; text-decoration:none;}

#currentPaging {
	color : red;
}

#paging {
	color : black;
	text-decoration : none;
}

